<div class = "sv-components-column sv-components-container-center" >
<div class="sd-progress-buttons__container">
   <div class="sd-progress-buttons__image-button-left sd-progress-buttons__image-button--hidden" role="button"></div>
   <div class="sd-progress-buttons__list-container">
      <ul class="sd-progress-buttons__list">
         <li class="sd-progress-buttons__list-element--current" data-page-number="">
            <div class="sd-progress-buttons__connector"></div>
            <div class="sd-progress-buttons__page-title" title="Event Description">
               <span class="sv-string-viewer">Event Description</span>
            </div>
            <div class="sd-progress-buttons__page-description" title=""></div>
            <div class="sd-progress-buttons__button">
               <div class="sd-progress-buttons__button-background"></div>
               <div class="sd-progress-buttons__button-content"></div>
               <span></span>
            </div>
         </li>
         <li class="" data-page-number="">
            <div class="sd-progress-buttons__connector"></div>
            <div class="sd-progress-buttons__page-title" title="Patient(s) Details">
               <span class="sv-string-viewer">Patient(s) Details</span>
            </div>
            <div class="sd-progress-buttons__page-description" title=""></div>
            <div class="sd-progress-buttons__button">
               <div class="sd-progress-buttons__button-background"></div>
               <div class="sd-progress-buttons__button-content"></div>
               <span></span>
            </div>
         </li>
         <li class="" data-page-number="">
            <div class="sd-progress-buttons__connector"></div>
            <div class="sd-progress-buttons__page-title" title="WHAT Happened (Event Category/Incident Type)"><span class="sv-string-viewer">WHAT Happened (Event Category/Incident Type)</span></div>
            <div class="sd-progress-buttons__page-description" title=""></div>
            <div class="sd-progress-buttons__button">
               <div class="sd-progress-buttons__button-background"></div>
               <div class="sd-progress-buttons__button-content"></div>
               <span></span>
            </div>
         </li>
         <li class="" data-page-number="">
            <div class="sd-progress-buttons__connector"></div>
            <div class="sd-progress-buttons__page-title" title="Stages Involved"><span class="sv-string-viewer">Stages Involved</span></div>
            <div class="sd-progress-buttons__page-description" title=""></div>
            <div class="sd-progress-buttons__button">
               <div class="sd-progress-buttons__button-background"></div>
               <div class="sd-progress-buttons__button-content"></div>
               <span></span>
            </div>
         </li>
         <li class="" data-page-number="">
            <div class="sd-progress-buttons__connector"></div>
            <div class="sd-progress-buttons__page-title" title="Risk &amp; Harm Details"><span class="sv-string-viewer">Risk &amp; Harm Details</span></div>
            <div class="sd-progress-buttons__page-description" title=""></div>
            <div class="sd-progress-buttons__button">
               <div class="sd-progress-buttons__button-background"></div>
               <div class="sd-progress-buttons__button-content"></div>
               <span></span>
            </div>
         </li>
      </ul>
   </div>
   <div class="sd-progress-buttons__image-button-right sd-progress-buttons__image-button--hidden" role="button"></div>
</div>